form{

	// Wrap each form input/element in an item div
	.item{
		margin-bottom:$padding/2;
	}
	label{
		display:block;
		margin-bottom:5px;
	}
	.wp-not-here {display:none!important;}

	// Notes go under the input fields
	.note{
		margin-top:5px;
		color:$subtle-color;
	}

	// Required label
	.req{
		font-style: italic;
	}

	// Validation, add error class to the item div
	.error{

		// Validation reason
		.reason{
			margin-top:5px;
			color:$bad-color;
		}
		input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
			border-color:$bad-color;
		}
	}
}
.gform_wrapper {
		input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea.medium {
			box-sizing:border-box;
			border:1px solid $light-grey !important;
			width:97.5%;
			font-size: $f15 !important;
			padding:5px;
			color:$dark-grey;
			outline:none;
				&:focus{
					border-color:$primary-color;
					color:$primary-color;
				}
				&.auto{
					width:auto;
				}

		}

		textarea.medium {
			width:100%!important;
		}
	}

//home page formç
.gform_wrapper ul {list-style-type: none;margin:0;padding:0;}
#field_1_1 label, #field_1_2 label, #field_1_3 label, #field_1_4 label, #field_1_5 label, #field_1_7 label {display: none;}
.gfield {margin-top: 10px; }
#page-about .gform_wrapper .top_label input.medium {width: 100%; }

.ginput_container {margin-bottom: 0; }
.gform_wrapper .gform_footer {padding: 0 0 10px 0 !important; }
.gform_wrapper form {margin: 0 0 0 0; }
.gform_wrapper {margin: 0 0!important; }
.gform_wrapper .top_label .gfield_label {margin: 0 0 4px 0 !important; }
#gform_submit_button_1, .gform_button{
	float:right;
	margin-top:0;
	font-size: $f15;
	border:1px solid $secondary-color;
	padding: 5px 20px;
	color: $secondary-color;
	font-weight: 400;
	border-radius: 2px;
	background-color: transparent;
	&:hover {
		background-color:$secondary-color;
		color:$white;
	}
}

.feature-box label.gfield_label {display:none!important;}


.gform_wrapper .top_label input.medium {width:100%!important;}
.gform_wrapper form input[type=text] {border:1px solid #cacbcc;}
